<body>
    <table>
        <tr>
        <td>
            <a mat-button routerLink="/">
                
                Home
            </a>
        </td>

        <td>
            <a mat-button routerLink="/experience">
                Experience
            </a>
        </td>
        <td>
        
            <a mat-button routerLink="/story-card">
                Stories
            </a>
        </td>
        <td>
            <a mat-button routerLink="/about">
                About
            </a>  
        </td>
        <td>
            <a mat-button routerLink="/contact">
                Contact
            </a>
        </td>
        <td>
            <a mat-button routerLink="/status">
                Status
            </a>
        </td>
    </tr>

    <tr>
        <td>

        </td>
        <td>
            <p> </p>
        </td>
        <td>
            <a href="/October/architect"><p>Architect</p></a>
            <a href="/October/giants"><p>Giants</p></a>
            <a href="/October/agent"><p>Agents</p></a>
        </td>
        
    </tr>
    </table>
</body>