
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="border: 1px solid teal">
    <div class="tableDiv">
        <table>
            <tr>
            
                <a mat-button routerLink="/">
                    <p>Home</p>
                </a>
            
    
            
                <a mat-button routerLink="/experience">
                    <p>Experience</p>
                </a>
            

            
                <a mat-button routerLink="/story-card">
                    <p>Stories</p>
                </a>

             
                <a mat-button routerLink="/about">
                    <p>About</p>
                </a>  


                <a mat-button routerLink="/contact">
                    <p>Contact</p>
                </a>


                <a mat-button routerLink="/status">
                    <p>Status</p>
                </a>

        </tr>
    
        </table>
    </div>
</body>