<body>
    <table>
        <tr>
        <td>
            <a mat-button routerLink="/">
                
                    Home
            </a>
        </td>
    
        <td>
            <a mat-button [matMenuTriggerFor]="dropdown">
                
                    Stories
            </a>
        </td>
    
        <mat-menu #dropdown>
    
            <button mat-menu-item routerLink="/architect"> The Architect </button>
    
            <button mat-menu-item routerLink="/giants"> A Line in the Sand </button>
    
            <button mat-menu-item routerLink="/agent"> Agent Chaos </button>
    
            <button mat-menu-item routerLink="/testText"> testText </button>
    
        </mat-menu>
    
        <td>
            <a mat-button routerLink="/profile">
                
                Profile
            </a>
        </td>
    
        <td>
            <a mat-button routerLink="/about">
                
                About
            </a>  
        </td>
    </tr>

    <tr>
        <td>

        </td>
        <td>
            <p>Architect</p>
            <p>Giants</p>
            <p>Agents</p>
        </td>
        
    </tr>
    </table>
</body>