.bottomLine{
    margin-top: 40px;
}

.textHolder {
    text-align: center;
    margin: auto;
    width: 800px;
    padding: 10px;
    justify-content: center;
    font-weight: 200;
}

.story-title{
    text-align: center;
    padding: 10px;
    margin: auto;
    font-weight: 60px;
    font-size: 50px;

}

.image-holder{
    height: auto;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.brush{
    padding: 10px;
}

.bga {
    background-color: blue;
}

.caption{
    justify-content: right;
}
@media only screen and (width < 815px) {
    .textHolder {
        width: 600px;
    }
}

@media only screen and (width < 600px) {
    .textHolder {
        width: 400px;
    }
}

@media only screen and (width < 400) {
    .textHolder {
        width: 300px;
    }

    .story-title{
        font-size: 20px;
    }
}

@media only screen and (width <= 430px) {
    .textHolder {
        width: 350px;
    }

    .story-title{
        font-size: 25px;
        font-weight: 200;
    }
}



