.textHolder {
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 10px;
    
}

.story-title{
    text-align: center;
    padding: 10px;
    margin: auto;
    font-weight: 60px;
    font-size: 50px;

}

.image-holder{
    width: 700px;
    height: 500px;
    margin: auto;
    padding: 10px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.brush{
    padding: 10px;
}

.bga {
    background-color: blue;
}

.caption{
    justify-content: right;
}



