<!DOCTYPE html>
<html lang="en">

<head>
<title>My Book</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body #bga>
<ng-container>
    <p></p>
    <div class="story-title">Agent of Chaos</div> 
    <table class="textHolder">
        
            
        
        <td>
            <div class="image-holder">
                <img src="/assets/kitchen.jpg">
            </div>

            <h5 #caption>Photo by <a href="https://unsplash.com/@mackiec?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Christian Mackie</a> on <a href="https://unsplash.com/photos/empty-sink-euBmypOZUZA?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
            </h5>

            <mat-icon class="brush">search</mat-icon>

            
        </td>
    </table>
</ng-container>
</body>
</html>
