<body>
    <p class="summary">
                        Hi there! Thanks for visiting my website! I created it as a portfolio to showcase my web development skills. The website is built with Angular, and hosted through github pages at the moment. I have a lot of it done, but there is always room for improvement! Below is a backlog of changes and updates I would like to make in the future. Be sure to check back as I continue to improve!
                    </p>
    <table>
        
        <tr class="backlog">
            <th>
                <p>To do</p>
            </th>

            <th>
                <p>do now</p>
            </th>

            <th>
                <p>Done</p>
            </th>
        </tr>

        <tr class="lists">
            <td>
                <p>To do</p>
            </td>

            <td>
                <p>do now</p>
            </td>

            <td>
                <p>Done</p>
            </td>
        </tr>
    </table>
</body>