<body>
    <p class="summary">
        Hi there! Thanks for visiting my website! I created it as a portfolio to showcase my web development skills. The website is built with Angular, and hosted through github pages at the moment. I have a lot of it done, but there is always room for improvement! Below is a backlog of changes and updates I would like to make in the future. Be sure to check back as I continue to improve!
    </p>
    <table>
        
        <tr class="backlog">
            <th>
                <p>To do</p>
            </th>

            <th>
                <p>In Progress</p>
            </th>

            <th>
                <p>Done</p>
            </th>
        </tr>

        <tr class="lists">
            <td class="todo">
                <ul>
                    <li>Add Admin user</li>
                    <li>Add downloadable resume</li>
                    <li>Finish Agent story page</li>
                </ul>
            </td>

            <td class="doing">
                <ul>
                    <li>Make site mobile friendly</li>
                    <li>Add more experience Icons</li>
                </ul>
            </td>

            <td class="done">
                <ul >
                    <li>Add status page</li>
                    <li>Add backlog</li>
                </ul>
            </td>
        </tr>
    </table>
</body>