<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  
<div id="hor">
      

      <div id="center">
        <p id="center-p">My name is Sven Broman and I have the immense privilege to live in Seminole, Fl. with my beautiful wife Haleigh and our Great Dane, Yuki. I am a New Jersey transplant and a graduate of Rider University. I have a Bachelor's of Science in Computer Science, and a passion for programming and web design. Outside of the programming world you can find me serving with my wife at a church in St. Petersburg. I find joy and peace in experiencing the canvas of the Creator, so you will find me fishing, walking, hiking or kayaking in my free time (if I have any!)
        </p>

        
    </div>

    <p id="prayer">Text</p>

    <p id="prayer">more</p>

    <p id="prayer">less</p>
    
    <div class="section">

    </div>
</div>

<div id="ver">
  <div class="heading">
    <p class="title-name">Sven Broman - Software Engineer</p>
  </div>

  <div class="alt-heading">
    <p class="title-name">Sven Broman</p>
    <p class="heading-hyphen">―</p>

    <p class="title-name-alt">Software Engineer</p>
  </div>

  <div id="center">
    <p id="center-p">Hi there! If you are here, that means you want to know a little more about me! If you are looking for my portfolio, my resume, my personal project... look no further! This website is all three! Feel free to click around to see what I've done so far! I'm constantly updating it- if there is anything missing, or anything you would like to see, reach out to me through one  of the methods listed on the contact page! I am always looking for ways to improve! Enjoy clicking around!
    </p>
</div>


<div class="section">

</div>
</div>



  <router-outlet></router-outlet>
</body>