<body>
  
    <table>
      <tr>
        <td>
          <img src="/October/assets/SvenChilling.jpg">
        </td>
        <td>
          <p>This is Sven</p>
        </td>
      </tr>
        <p> </p>
  
      <tr>
        <td>
          <p>This is where I used to kayak</p>
  
          <p>Beautiful Jackson, NJ out behind Six Flags</p>
          
        </td>
        <td>
          <img src="/October/assets/kayakFeet.jpg">
        </td>
      </tr>
        <p> </p>
      <tr>
        <td>
          <img src="/October/assets/Florida.jpg">
        </td>
        <td>
          <p>But now I live in beautiful Seminole, Fl!</p>
        </td>
      </tr>
  
    </table>
    <router-outlet></router-outlet>
  </body>
