<table>
    <td>
        <p>
            Software Engineer
        </p>
        <ul> 
            <li>Assist underwriters in their daily workflow </li>
            <li>Update code on existing application to meet current software requirements</li> 
            <li>Collaborate with off-shore team to meet company goals</li>
            <li>Follow Agile-style workflow daily maintaining a backlog of issues</li>
            <li>Debug application in local test environment to troubleshoot issues</li>
            <li>Create and test SQL scripts for updating databases</li>
            <li>Analyze SQL stored procedures to improve data flow</li>
        </ul>
    </td>

    <td>
        <p>
        Tutor
        </p>
        <ul> 
            <li>Assist underwriters in their daily workflow </li>
            <li>Update code on existing application to meet current software requirements</li> 
            <li>Collaborate with off-shore team to meet company goals</li>
            <li>Follow Agile-style workflow daily maintaining a backlog of issues</li>
            <li>Debug application in local test environment to troubleshoot issues</li>
            <li>Create and test SQL scripts for updating databases</li>
            <li>Analyze SQL stored procedures to improve data flow</li>
        </ul>
    </td>
</table>
