<table>
    <tr>
        <td>
            <h2 style="width: auto;">//Professional Experience</h2>
        </td>
    </tr>
    <tr>
        
        <td>
            
            <div class="cognizant">
            <p>
                Software Engineer - Cognizant Technology Solutions
            </p>
            <ul> 
                <li>Assist underwriters in their daily workflow </li>
                <li>Update code on existing application to meet current software requirements</li> 
                <li>Collaborate with off-shore team to meet company goals</li>
                <li>Follow Agile-style workflow daily maintaining a backlog of issues</li>
                <li>Debug application in local test environment to troubleshoot issues</li>
                <li>Create and test SQL scripts for updating databases</li>
                <li>Analyze SQL stored procedures to improve data flow</li>
            </ul>
            </div>
        </td>
    
        <td>
            <div class="varsity">
                <p>
                Content Tutor - Varsity Tutors
                </p>
                <ul> 
                    <li>Assess students’ skill level with various topics</li>
                    <li>Develop lessons prior to each session</li>
                    <li>Provide tutoring on Computational Theory as well as Python and Java Programming</li>
                    <li>Analyze student performance and write progress reviews</li>
                    <li>Students included elementary students, undergraduates, graduate students, professionals, and senior citizens</li>
                    <li>Received five star reviews on average</li>
                </ul>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <h2>//Projects</h2>
        </td>
    </tr>

    <tr>
        <td>
            <div class="Dementia">
                <p> 
                    <a href="https://ieeexplore.ieee.org/document/9795717">
                    A Machine Learning Approach for the Early Detection of Dementia
                    </a>
                </p>
                <ul>
                    <li>
                        Collaborated with a team to design and apply a machine learning model which used PANDAS in Python to read and analyze data and make predictions accordingly. This model used several machine learning algorithms, including Naive Bayes, Decision trees, and Multilayer Neural Networks. This project/paper was peer reviewed and accepted for publishing. I presented the project virtually at an International Conference held in Toronto, Canada.
                    </li>
                </ul>
            </div>
        </td>

        <td>
            <div class="Nimrod">
                <p> 
                    <a href="https://github.com/Hulkout19/Nimrod">
                    Nimrod - Position Hunting Program
                    </a>
                </p>
                <ul>
                    <li>
                        Designed and programmed an application using Python, which when given a 25-spaceboard as input would
                        “guess” where a user has placed their pawn. The application used machine learning techniques to learn user
                        habits over time. The application was tested on a daily basis for several months to train the algorithm.
                    </li>
                </ul>
            </div>
        </td>
    </tr>
</table>
