.cognizant{
    background-color: aqua;
    width: 550px;
    border-style: solid;
    border-radius: 10px;
    border-color: gray;

}

.Dementia{
    background-color: aqua;
    width: 550px;
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
}

.Nimrod{
    width: 550px;
    margin-top: -20px;
}

.varsity{
    margin-top: -20px;
}

p{
    margin-left: 10px;
}
