<div class="menu-container" clickOutside (clickOutside)="clickedOutside()">
    <div class="menu-toggler" (click)="toggleMenu()"><mat-icon>reorder</mat-icon></div>
    <div class="menu" *ngIf="isMenuOpened">
        <div class="menu-item" (click)="toggleMenu()">
            <a mat-button routerLink="/">
            Home
            </a>
        </div>
        <div class="menu-item" (click)="toggleMenu()">
            <a mat-button routerLink="/experience">
            Experience
            </a>
        </div>
        <div class="menu-item" (click)="toggleMenu()">
            <a mat-button routerLink="/story-card">
            Stories
            </a>
        </div>
        <div class="menu-item" (click)="toggleMenu()">
            <a mat-button routerLink="/about">
            About
            </a>
        </div>
        <div class="menu-item" (click)="toggleMenu()">
            <a mat-button routerLink="/contact">
            Contact
            </a>
        </div>
        <div class="menu-item" (click)="toggleMenu()">
            <a mat-button routerLink="/status">
            Status
            </a>
        </div>
    </div>
</div>