<meta name="viewport" content="width=device-width, initial-scale=1">


<body>
    <div class="contact-container">
        <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value); userPost.resetForm()"  class="contact-left">
            <div class="contact-left-title">
                <h2>Get in touch</h2>
                <hr>

            </div>
            <input type="text" name="name" placeholder="Your Name:" class="contact-inputs" required ngModel>
            <input type="email" name="email" placeholder="Your email so I can get back to you:" class="contact-inputs" required ngModel>
            <input type="checkbox" name="botcheck" class="hidden" style="display: none;">
            <textarea name="message" placeholder="Tell me what you are looking for! Ask about my rates for web development, questions about my website, or my favorite movie!" class="contact-inputs" required ngModel></textarea>
            <button type="submit">Submit </button> 
        </form>
        

    </div>
</body>