<body>
    <table>
        <tr>
            <td>
                <h2>
                    Connect with me below!
                </h2>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Connect with me on LinkedIn: 
                
                <a href="https://www.linkedin.com/in/sven-broman-53856b1b6">
                    LinkedIn
                </a>
            </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Check out my projects hosted on Github: 
                    <a href="https://github.com/Hulkout19">
                        Github
                    </a>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    Go follow me on Twitter: 
                    <a href="https://twitter.com/BromanSven">
                        Twitter
                    </a>
                </p>
            </td>
        </tr>
        
        
    </table>
</body>