.textHolder {
    text-align: center;
    margin: auto;
    width: 40%;
    padding: 10px;
    
}

.story-title{
    text-align: center;
    padding: 10px;
    margin: auto;
    font-weight: 100px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
