<!DOCTYPE html>
<html lang="en">

<head>
<title>My Book</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<div class="story-title">Designing Plans</div> 
<body>
<ng-container>
    <table class="textHolder">
        <td>
            <iframe id="docs" src="https://docs.google.com/document/d/e/2PACX-1vSmRk4Iy3S_yfUxkzM2FFHeqor5qbycJZFpYtQWsDA3r24pY0Ll9ZjMTbIv5AZpRj7382NIS38_PLi0/pub?embedded=true"></iframe>
        </td>
    </table>
</ng-container>
</body>

</html>
