<ng-container *ngFor="let tale of story; index as i">
    <mat-card class="course-card">
        <mat-card-header>

            <mat-card-title>
                <title>
                    {{tale.title}}
                </title>
            </mat-card-title>

        </mat-card-header>

        <img mat-card-image select="story-image" [src]="tale.iconUrl">

        <mat-card-content>

            <p>
                {{tale.description}}
            </p>
        </mat-card-content>

        <mat-card-actions class="course-actions">

            <button mat-raised-button color="primary">View Story</button>

        </mat-card-actions>

    </mat-card>
</ng-container>
