.course-card {
    margin: auto;
    width: 100%;
    max-width: 500px;
    
}

.contain {
    box-shadow: 70px;
}

.course-actions {
    text-align: center;
}

p{
    text-align: center;
    
}

button{
    cursor: pointer;
    
}

mat-card-actions{
    margin: auto;
}

.pageTitle{
    width: 150px;
    margin: auto;
    text-align: center;
    background-color: gold;
}