<mat-card class="course-card">
    <mat-card-header>

        <mat-card-title>
            <title>
                Designing Plans
            </title>
        </mat-card-title>

    </mat-card-header>

    <img mat-card-image src="/assets/bookcase.jpg">

    <mat-card-content>

        <p>
            The course description
        </p>
    </mat-card-content>

    <mat-card-actions class="course-actions">

        <button mat-raised-button color="primary">View Story</button>

    </mat-card-actions>
</mat-card>
