
<div #entirescreen>

  <mat-toolbar color="primary">
  
    <a mat-button routerLink="/">
        <mat-icon color="warn" fontIcon="home"></mat-icon>
        Home
    </a>

    <a mat-button routerLink="/experience">
        <mat-icon color="warn" fontIcon="home"></mat-icon>
        Experience
    </a>

    <a mat-button routerLink="/story-card">
        <mat-icon color="warn" fontIcon="person"></mat-icon>
        Stories
    </a>

    <a mat-button routerLink="/about">
        <mat-icon color="warn" fontIcon="note"></mat-icon>
        About
    </a>  

    <a mat-button routerLink="/contact">
        <mat-icon color="warn" fontIcon="note"></mat-icon>
        contact
    </a>
</mat-toolbar>


  <div class="main-content">

      <router-outlet></router-outlet>

  </div>

<app-footer id="footer"></app-footer>

</div>

