.entirescreen{
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}


.main-content {
    padding-bottom: 2.5rem;    /* Footer height */
    position: relative;
    min-height: 70vh;
  }

  
  /*.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;          
  }*/