.entirescreen{
    position: relative;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

mat-toolbar{
  width: 100%;
}
.main-content {
    padding-bottom: 2.5rem;    /* Footer height */
    position: relative;
    min-height: 70vh;
  }

  
  app-footer{
    
    width: 100%;
       
  }