<!DOCTYPE html>
<html lang="en">

<head>
<title>My Book</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <img class="img-banner" src="/assets/Arizona.jpg" alt="mmtuts banner">
            <article class="img-info">
                <h2>yey</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Elementum nibh tellus molestie nunc non. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Sit amet consectetur adipiscing elit pellentesque habitant. Euismod elementum nisi quis eleifend. Enim neque volutpat ac tincidunt vitae semper quis lectus. Eget sit amet tellus cras adipiscing enim eu turpis. Nunc vel risus commodo viverra. Fringilla ut morbi tincidunt augue interdum velit.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod nisi porta lorem mollis aliquam ut porttitor leo. Elementum nibh tellus molestie nunc non. Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar. Sit amet consectetur adipiscing elit pellentesque habitant. Euismod elementum nisi quis eleifend. Enim neque volutpat ac tincidunt vitae semper quis lectus. Eget sit amet tellus cras adipiscing enim eu turpis. Nunc vel risus commodo viverra. Fringilla ut morbi tincidunt augue interdum velit.
                </p>
            </article>
            <img class="img-me" src="/assets/assembly.png">
    </body>
</html>