<div class="toolbar">
    <body>
    
        <div class="logo-wave">
            <a mat-button routerLink="/">
            </a>
        </div>
    
        <!-- <div class="dropdown">
            <app-dropdown></app-dropdown>
        </div>
     -->
        <div id="allButton">
    
            <div class="logo-text">
                <a mat-button routerLink="/">
                    <img class="logo" src="assets/swell-circle-crop.png">
                </a>
         </div>
    
            <div class="link-list">
                <a mat-button routerLink="/">
                    Home
                </a>
    
                <a mat-button routerLink="/menu">
                    Menu
                </a>
    
                <a mat-button routerLink="/contact">
                    Contact
                </a>
    
                <a mat-button routerLink="/jobs">
                    Jobs
                </a>
            </div>
            </div>
        </body>
    </div>
    
    