<mat-toolbar color="primary">

    <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn"><mat-icon>list</mat-icon></button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
  <div id="allButton">
    <a mat-button routerLink="/">
        <mat-icon color="warn" fontIcon="home"></mat-icon>
        Home
    </a>

    <a mat-button routerLink="/experience">
        <mat-icon color="warn" fontIcon="settings"></mat-icon>
        Experience
    </a>

    <a mat-button routerLink="/story-card">
        <mat-icon color="warn" fontIcon="edit"></mat-icon>
        Stories
    </a>

    <a mat-button routerLink="/gallery">
        <mat-icon color="warn" fontIcon="photo"></mat-icon>
        Gallery
    </a>

    <a mat-button routerLink="/about">
        <mat-icon color="warn" fontIcon="help"></mat-icon>
        About
    </a>  

    <a mat-button routerLink="/contact">
        <mat-icon color="warn" fontIcon="note"></mat-icon>
        Contact
    </a>

    <a mat-button routerLink="/status">
        <mat-icon color="warn" fontIcon="warning"></mat-icon>
        Status
    </a>

    <a mat-button routerLink="/profile">
        <mat-icon color="warn" fontIcon="warning"></mat-icon>
        Profile
    </a>
</div>
</mat-toolbar>