<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  
<div id="hor">
      <div class="typewriter">
        <p class="introP"></p>
      </div>

      <div id="center">
        <p id="center-p">Hi there! If you are here, that means you want to know a little more about me! If you are looking for my portfolio, my resume, my personal project... look no further! Scroll down to see some projects I have worked on for some clients! Want to get in touch? Click over to the contact page to reach out for inquries, for questions, or if you want to get a quote on a website for your company!
        </p>
    </div>
  <div class="gradient">
    <h1>Check out some of my other projects</h1>
  </div>
  <div class="section">
    <div class="divider">

    </div>
    <div class="card-holder">

        <a mat-button target="_blank" href="https://www.swellcoffeelargo.com">
        <div href="https://www.swellcoffeelargo.com" class="container-site">
          <img src="./assets/swell-wave.png">
          <hr>
          <p class="swell-desc">
            A coffeeshop in Largo, Florida
          </p>
        </div>
      </a>
  </div> 

  <div class="card-holder">
      <a mat-button target="_blank" href="http://www.davidmoore.space">
          <div class="container-site">
            <!-- <img class="ieee" src="./assets/IEEE-Logo.png" alt="This link is coming soon!"> -->
            <h2 class="comingSoon">David Moore - Executive Producer</h2>
            <hr>
            <p class="swell-desc">
              An executive producer's portfolio website that I acted as a web development consultant on.
            </p>
          </div>
        </a>
    </div>

    <div class="card-holder">
      <a mat-button target="_blank" href="https://ieeexplore.ieee.org/document/9795717/citations#citations">
        <div class="container-site">
          <img class="ieee" src="./assets/IEEE-Logo.png">
          <hr>
          <p class="swell-desc">
            A paper I co-authored on Machine Learning
          </p>
        </div>
      </a>
    </div>
  </div>

  <div class="gradient-out">
  </div>
</div>

<div id="ver">
  <div class="heading">
    <p class="title-name">Sven Broman - Software Engineer</p>
  </div>

  <div class="alt-heading">
    <p class="title-name">Sven Broman</p>
    <p class="heading-hyphen">―</p>

    <p class="title-name-alt">Software Engineer</p>
  </div>

  <div id="center">
    <p id="center-p">Hi there! If you are here, that means you want to know a little more about me! If you are looking for my portfolio, my resume, my personal project... look no further! This website is all three! Feel free to click around to see what I've done so far! I'm constantly updating it- if there is anything missing, or anything you would like to see, reach out to me through one  of the methods listed on the contact page! I am always looking for ways to improve! Enjoy clicking around!
    </p>


</div>


<div class="gradient">
    <h1>Check out some of my other projects</h1>
  </div>
  <div class="section">
    <div class="divider">

    </div>
    <div class="card-holder">

        <a mat-button target="_blank" href="https://www.swellcoffeelargo.com">
        <div href="https://www.swellcoffeelargo.com" class="container-site">
          <img src="./assets/swell-wave.png">
          <hr>
          <p class="swell-desc">
            A coffeeshop in Largo, Florida
          </p>
        </div>
      </a>
  </div> 

  <div class="card-holder">
    <a mat-button target="_blank" href="http://www.davidmoore.space">
      <div class="container-site">
        <!-- <img class="ieee" src="./assets/IEEE-Logo.png" alt="This link is coming soon!"> -->
        <h2 class="comingSoon">David Moore - Executive Producer</h2>
        <hr>
        <p class="swell-desc">
          An executive producer's portfolio website that I acted as a web development consultant on.
        </p>
      </div>
    </a>
</div>

  <div class="card-holder">
        <a mat-button target="_blank" href="https://ieeexplore.ieee.org/document/9795717/citations#citations">
          <div class="container-site">
            <img class="ieee" src="./assets/IEEE-Logo.png">
            <hr>
            <p class="swell-desc">
              A paper I co-authored on Machine Learning
            </p>
          </div>
        </a>
        </div>
  </div>
  <div class="gradient-out">
  </div>
</div>

  <router-outlet></router-outlet>
</body>