<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  
<div id="hor">
  

  <table>
    <tr id="first-row">
      <td>
        <h1> Hello There! </h1>
      </td>

      <td>
        <p>----------</p>
      </td>
    </tr>
      <p id="center">Lorem ipsum whatdo ya know with a drunken sailorrrrr</p>
    
  </table>
</div>


<div id="ver">
  

    <div id="child1">
      <img src="/October/assets/SvenHeadShot.PNG" alt="Sven Head Shot">
    </div>
    

    <div class="typewriter">
      <p class="introP"></p>
      <p class="tw"></p>
      <p class="introSkills"></p>
    </div>
    
    <div id="child3">
      <table>
        <div class="Languages">
        <tr>
          <h2> //Languages </h2>
        </tr>
        <tr>
          <td> 
            <img class="logo" src="/October/assets/python.png">

            <img class="logo" src="/October/assets/java.png">
         
            <img class="logo" src="/October/assets/csharp.png">
            
          </td>
        </tr>
        <tr>
          <h2> //Databases </h2>
        </tr>
        <tr>
          <td> 
            <img class="logo" src="/October/assets/mssql.png">
          
            <img class="logo" src="/October/assets/mysql.svg">
         
            <img class="logo" src="/October/assets/mongodb.png">
          </td>
        </tr>
        <tr>
          <h2> //Frameworks </h2>
        </tr>
        <tr>
          <td> 
            <img class="logo" src="/October/assets/dotnet.png">
          
            <img class="logo" src="/October/assets/Angular-logo.png">
         
            <img class="logo" src="/October/assets/blazor.png">
          </td>
        </tr>
      </div>
      </table>
    </div>
  
</div>
  <router-outlet></router-outlet>
</body>