body {
    width: auto;
    text-align: center;
}

img{
    width: 350px;
    height: 600px;
    margin-left: 20px;
    border-radius: 2%;
}

th, td{
    margin-left: 100px;
    padding: 10px 10px 10px 30px;

}

.typewriter{
    width: 300px;
}

.Languages{
    background-color: aqua;
    width: auto;
    height: 550px;
    border-style: solid;
    border-radius: 10px;
    border-color: gray;
}

h2{
    margin-top: 10px;
    margin-left: 10px;
}

.logo{
    width: 75px;
    height: 75px;
    transition: transform .7s ease-in-out;
}

.logo:hover {
    transform: rotateY(180deg);
}

.python-logo{
    width: 100px;
    height: 100px;
}

@media only screen and (max-width: 370px) {
    body {
        overflow-y: hidden;
        overflow-x: hidden;
        width: 375px;
        text-align: center;
    }
    
    img{
        width: 350px;
        height: 600px;
        margin-left: 20px;
        border-radius: 2%;
    }
    
    th, td{
        margin-left: 100px;
        padding: 10px 10px 10px 30px;
    
    }
    
    .typewriter{
        width: 300px;
    }
    
    .Languages{
        background-color: aqua;
        width: auto;
        height: 550px;
        border-style: solid;
        border-radius: 10px;
        border-color: gray;
    }
    
    h2{
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .logo{
        width: 75px;
        height: 75px;
        transition: transform .7s ease-in-out;
    }
    
    .logo:hover {
        transform: rotateY(180deg);
    }
    
    .python-logo{
        width: 100px;
        height: 100px;
    }
}


