#greeting{
    display: block;
    text-align: left;
    margin: 300px;
    font-size: 50px;
}

#hor {
    display: block;
    text-align: center;
}
#ver{
    display: none;
}


body {
    width: auto;
    /* text-align: center; */
    z-index: -1;
}
/* fade in text */
@keyframes fade-inout{
    100%{ opacity: 1;}
    0%{ opacity: 0;}
}

#center{
    
    justify-content: center;
    margin: auto;
    margin-top: 150px;
    width: 750px;
    display: flex;
    height: 450px;
}

#center-p{
    font-size: 20px;
    font-weight: 300;
    animation-delay: 1s;
    animation: fade-inout 5s;
    color: grey;
    
}
/* fade in text */

#child2{
    width: 300px;
}

/* For creating the typing out text */
.typewriter{
    margin-top: 150px;
    margin-left: 150px;
    display: block;
    text-align: left

}

.introP{
    font-size: 50px;
    font-weight: 200;
    
}

h2{
    margin-top: 10px;
    margin-left: 10px;
}


.alt-heading{
    display: none;
}



.gradient{
    height: 200px;
    background-image: linear-gradient(rgb(245, 241, 241, 0),rgb(95, 158, 160, 1));
}

.gradient h1{
    color: grey;
    font-size: 50px;
    font-weight: 200;
}

.gradient-out{
    height: 200px;
    background-image: linear-gradient(rgb(95, 158, 160, 1),rgb(245, 241, 241, 0));
}

.divider{
    height: 200px;
}

.section{
    height: 900px;
    background-color: rgb(95, 158, 160, 1);
    text-align: center;
}

.card-holder{
    height: 500px;
    display: block;
    text-align: center;
    margin: auto;
    width: 100%;
    
}

.container-site{
    text-align: center;
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(245, 241, 241);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    
}



.container-site:hover{
    border-style: solid;
    border-color: rgb(95, 158, 160, 1);
}
.container-site img{
    width: 450px;
    border-radius: 10px;
}

.container-site .ieee{
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}
@media only screen and (width <= 600px) {
    #hor{
        display: none;
    }
    #ver{
        display: block;
    }

    body {
        text-align: center;
    }

    .introP{
        font-size: 50px;
        font-weight: 200;
        
    }

    #center{
    
        justify-content: center;
        margin: auto;
        margin-top: 150px;
        width: 350px;
        display: flex;
    }

    .title-name{
        margin-top: 100px;
        font-size: 30px;
        font-weight: 200;
        justify-content: left;
        color: teal;
    }
}

@media only screen and (width <= 431px) {
    
    body {
        text-align: center;
    }

    .heading{
        display: none;
    }
    .alt-heading{
        display: block;
    }

    .title-name-alt{
        text-align: center;
        margin-top: 25px;
        font-size: 25px;
        font-weight: 200;
        justify-content: center;
        color: teal;
    }

    .heading-hyphen{
        margin-top: 25px;
        font-size: 30px;
        font-weight: 200;
        justify-content: left;
        color: teal;
    }

    #center{
    
        justify-content: center;
        margin: auto;
        margin-top: 150px;
        width: 350px;
        display: flex;
    }

    .title-name{
        margin-top: 100px;
        font-size: 30px;
        font-weight: 200;
        justify-content: left;
        color: teal;
    }

    #center-p{
        font-size: 18px;
    }
}