<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  
<div id="hor">
      <div class="typewriter">
        <p class="introP"></p>
      </div>

      <div id="center">
        <p id="center-p">Hi there! If you are here, that means you want to know a little more about me! If you are looking for my portfolio, my resume, my personal project... look no further! This website is all three! Feel free to click around to see what I've done so far! I'm constantly updating it- if there is anything missing, or anything you would like to see, reach out to me through one  of the methods listed on the contact page! I am always looking for ways to improve! Enjoy clicking around!
        </p>
    </div>
    
    <div class="section">

    </div>
</div>

<div id="ver">
  <div class="heading">
    <p class="title-name">Sven Broman - Software Engineer</p>
  </div>

  <div id="center">
    <p id="center-p">Hi there! If you are here, that means you want to know a little more about me! If you are looking for my portfolio, my resume, my personal project... look no further! This website is all three! Feel free to click around to see what I've done so far! I'm constantly updating it- if there is anything missing, or anything you would like to see, reach out to me through one  of the methods listed on the contact page! I am always looking for ways to improve! Enjoy clicking around!
    </p>
</div>

<div class="section">

</div>
</div>



  <router-outlet></router-outlet>
</body>